body, h1, h3{
    font-family: 'Bungee', cursive;
}

body p{
    font-family: 'Ubuntu', sans-serif;
}

#fakeHeader{
    font-family: 'Exo', sans-serif;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 20px;
    /*font-family: 'Titillium Web', sans-serif;*/
    /*font-family: 'Catamaran', sans-serif;*/
}

#fakeUrl{
    font-family: 'Ubuntu', sans-serif;
}

#fakeImage{
    margin-top: 20px;
}

.border{
    padding-top: 40px;
    border-bottom-style: solid;
    border-width: 10px;
    border-color: #3b5998;
}

.main-text button{
    margin-top: 10%;
    margin-bottom: 10%;
    background-color:#3b5998;
    color: white;
    border: grey;
    border-radius: 15px;
}

.main-text button:hover{
    background-color:dodgerblue;
    border-radius: 15px;
}

#title h1{
    font-family: 'Bungee', cursive;
    font-family:inherit;
    font-weight:800;
    font-size: 63px;
    margin-bottom: 20px;
    margin-top: 0px;
}

#title h3{
    font-family: 'Bungee', cursive;
    font-size: 36px;
    margin-bottom: 0px;
    margin-top: 33px;
}

.jumbotron{
    padding: 20px 10px 10px 10px;
}

.jumbotron p {
    font-size: 16px;
}

#kasse{
    background-color: white;
    padding-top: 0px;
}
